<?xml version="1.0"?>
<configuration>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="~/Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="Connect" connectionString="Data Source = COBRAD124; Initial Catalog = COBRAPULSEV2; Persist Security Info=True;User ID = sa; Password=Cobra$200" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <sessionState timeout="1440"></sessionState>
    <compilation debug="true" targetFramework="4.5.2">

      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>

   <httpRuntime targetFramework="4.5.2" />

  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>
